* {
  border-radius: 0;
}

@import "tailwindcss";

@plugin "flyonui" {
  themes: black --default;
}
@plugin "@iconify/tailwind4";

:root::-webkit-scrollbar {
  width: 0 !important;
  display: none !important;
}

:root {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow: overlay !important;
}

.animate-move-diagonal {
  animation: move-diagonal 50s linear infinite;
}

@keyframes move-diagonal {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1000px 1000px;
  }
}
